body {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}
.main-wrapper {
    text-align: center;
}
ul {
    width: 400px;
    margin: 30px auto;
}
.task {
    background: red;
    list-style: none;
    margin-top: 1px;
    width: 400px;
    padding: 5px;
    border-radius: 5px;
}
.action-btn {
    float: right;
}

